#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Use graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --onboot=on --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp2s0 --onboot=on --ipv6=auto
network  --hostname=localhost.localdomain
repo --name="Minimal" --baseurl=file:///run/install/repo/Minimal
# Reboot after installation
reboot --eject
# Root password
rootpw --iscrypted $6$KElfTJhPGRo6WMEi$qqwLCtdbIZ/H9qzny1yS3QTY4h8iVPPPerAmfpWBngbnpUm4QYytrAmnxsgQhIWJOfMiGI9/q6YJLxIJ/L9qh1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
#Admin User
user --name=admuser --password=visitor

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
